.question {
    margin: 2rem 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
    background-color: #ffffff;
    margin: 0 auto;
  }
  .each-question {
    text-align: center;
    padding: 0 60px;
    font-size: 1.3rem;
    color: rgb(0, 38, 82);
    font-weight: 500;
  }
  .options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .eyeIcon{
      position: relative;
      left: 600px;
      color: rgb(1, 94, 94);
      font-size: 1.3rem;
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .options-container {
      grid-template-columns: 1fr;
    }
    .question{
      width: 500px;
      margin: 2rem auto;
    }
    .eyeIcon{
      position: relative;
      left: 400px;
  }
    
  }
  @media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
    .question{
      width: 300px;
      margin: 2rem auto;
    }
      .options-container {
      grid-template-columns: 1fr;
    }
    .eyeIcon{
      position: relative;
      left: 200px;
  }
    
  }
  